@model IEnumerable<PropertyDetailsViewModel>
@inject IDataFormatter formatter
@inject IUserData userData

@{ 
    bool isWatchlistDetailsPage = ViewBag.WatchlistId != null;
}

@if (Model.Count() == 0)
{
    <div class="row">
        <div class="col-md-12 text-center alert alert-info">
            Няма намерени имоти
        </div>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Цена</th>
                <th scope="col">Етаж</th>
                <th scope="col">Площ</th>
                <th scope="col">Година</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var property in Model)
            {
                <tr>
                    <td scope="col">
                        <a target="_blank"
                           rel="noreferrer"
                           asp-controller="Properties"
                           asp-action="Details"
                           asp-route-id="@property.Id">@property.District - @property.Type</a>
                    </td>
                    <td scope="col">@formatter.FormatCurrency(property.Price)</td>
                    <td scope="col">@property.Floor от @property.TotalFloors</td>
                    <td scope="col">@property.UsableArea кв.м. / @property.Area кв.м.</td>
                    <td scope="col">@property.Year</td>
                    <td scope="col">
                        @if (
                           User.Identity.IsAuthenticated
                           && property.OwnerId == this.userData.GetCurrentUserId()
                           && !isWatchlistDetailsPage)
                        {
                            <div class="button-group">
                                <a class="btn"
                                   asp-controller="Properties"
                                   asp-action="Edit"
                                   asp-route-id="@property.Id">&#x270E;</a>
                                <a class="btn"
                                   asp-controller="Properties"
                                   asp-action="Delete"
                                   asp-route-id="@property.Id">&#x2716;</a>
                            </div>
                        }
                        else if (isWatchlistDetailsPage)
                        {
                            <div class="button-group property-watchlist-controls">
                                <a class="btn"
                                   asp-controller="Watchlists"
                                   asp-action="RemoveProperty"
                                   asp-route-watchlistid="@ViewBag.WatchlistId"
                                   asp-route-propertyid="@property.Id">&#x2716;</a>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}