@model WatchlistListingFormModel
@inject IUserData userData

@{
    ViewData["Title"] = "Списъци за наблюдение";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Име</th>
            <th scope="col">Наблюдавани сегменти</th>
            <th scope="col">Наблюдавани имоти</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var watchlist in Model.Watchlists)
        {
            <tr>
                <td scope="col">
                    @if (User.Identity.IsAuthenticated && userData.CurrentUserId() == watchlist.OwnerId)
                    {
                        <a asp-controller="Watchlists"
                           asp-action="Details"
                           asp-route-id="@watchlist.Id">@watchlist.Name</a>
                    }
                    else
                    {
                        <span>@watchlist.Name</span>
                    }
                </td>
                <td scope="col">@watchlist.WatchlistPropertySegments.Count()</td>
                <td scope="col">@watchlist.WatchlistProperties.Count()</td>
                <td scope="col">
                    <div class="button-group">
                        <a class="btn"
                           asp-controller="Watchlists"
                           asp-action="Delete"
                           asp-route-id="@watchlist.Id"><i class="fas fa-times"></i></a>
                    </div>
                </td>
            </tr>
        }
        <tr>
            <td scope="col">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus"></i>
                    </button>
                    <div class="dropdown-menu p-2">
                        <form asp-controller="Watchlists" asp-action="Create" method="post">
                            <div class="form-group">
                                <label asp-for="CreatedWatchlistName"></label>
                                <input asp-for="CreatedWatchlistName" class="form-control" />
                                <span asp-validation-for="CreatedWatchlistName" class="small text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Създай</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ValidationScriptsExtensionsPartial" />
}