@model PropertyAggregateListQueryModel
@inject IDataFormatter formatter

@if (Model.Rows.Count() == 0)
{
    <div class="row">
        <div class="col-md-12 text-center alert alert-info">
            Няма намерени резултати
        </div>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="col-5" scope="col"></th>
                <th class="col-2" scope="col">Средна Цена</th>
                <th class="col-2" scope="col">Средна Цена / кв.м.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aggregate in Model.Rows)
            {
                <tr>
                    <th class="col-5" scope="row">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a target="_blank"
                               rel="noreferrer"
                               asp-controller="Properties"
                               asp-action="List"
                               asp-route-districtid="@aggregate.District.Id"
                               asp-route-propertytypeid="@aggregate.PropertyType.Id">@aggregate.District.Name - @aggregate.PropertyType.Name</a>
                        }
                        else
                        {
                            <span>@aggregate.District.Name - @aggregate.PropertyType.Name</span>
                        }
                    </th>
                    <td class="col-2">@formatter.FormatCurrency(aggregate.AveragePrice)</td>
                    <td class="col-2">@formatter.FormatCurrency(aggregate.AveragePricePerSqM)</td>
                </tr>
            }
        </tbody>
    </table>
}