@model IEnumerable<PropertySummaryViewModel>

<div class="row">
    @foreach (var summary in Model)
    {
    <div class="container col-md-4 mb-3">
        <div class="card">
            <div class="container property-summary-image">
                @if (summary.ImageId != null)
                {
                    <img class="card-img-top" src="@($"/Properties/Image/{summary.ImageId}")" alt="@summary.DistrictName - @summary.PropertyTypeName">
                }
            </div>
            <div class="card-body">
                <h2 class="text-center">@summary.Price</h2>
                <p class="card-text text-truncate">@summary.Description</p>
                <a class="card-link" asp-controller="Properties" asp-action="Details" asp-route-id="@summary.Id">Виж повече...</a>
            </div>
        </div>
    </div>
    }
</div>